<!-- <div class="weather-box">
    <div class="weather-box-contents">
        <p class="title center">{{searchWeather.name}}</p>
        <p class="temp center" *ngIf="showNewTemp === 'searchedCTemp'">{{searchedCTemp}}<span class="degree">{{searchedCDeg}}</span></p>
        <p class="temp center">{{searchWeather.main.temp}}<span class="degree" *ngIf="searchWeather">°F</span></p>
        <p class="description center">{{searchWeather.weather[0].description}}</p>
        <h2 class="center"><img src="http://openweathermap.org/img/wn/{{searchWeather.weather[0].icon}}@2x.png"></h2>
    </div>
</div> -->