<div class="container">
    <div class="weather-header">
        <a href='/' class="home">weather rn</a>
    </div>
    <div class="wrapper">
        <div class="c-deg">
            <div class="c-rotate">
                <button id="currentCTemp" *ngIf="!newSearchRes" (click)="showTemp = 'currentCTemp'" class="rotated-text c">°C</button>
                <button id="newCTemp" *ngIf="newSearchRes" (click)="mainShowNewTemp = 'searchedCTemp'" class="rotated-text c">°C</button>
            </div>
        </div>
        <div class="main">
            <app-search-city-weather *ngIf="newSearchRes; else currentWeather" [searchWeather]="newSearchRes"></app-search-city-weather>
            <ng-template #currentWeather>
                <div class="weather-box">
                    <div class="weather-box-contents">
                        <div class="loading" *ngIf="!currentFTemp || !currentCTemp">
                            <p>one moment...</p>
                        </div>
                        <div class="weather-box-contents">    
                            <p class="title center">{{currentCity}}</p>
                            <p class="temp center" *ngIf="showTemp === 'currentCTemp'">{{currentCTemp}}<span class="degree">{{CDeg}}</span></p>
                            <p class="temp center" *ngIf="showTemp === 'currentFTemp'">{{currentFTemp}}<span class="degree">{{FDeg}}</span></p>
                            <p class="description center">{{current.weather[0].description}}</p>
                            <h2 class="center"><img src="http://openweathermap.org/img/wn/{{current.weather[0].icon}}@2x.png"></h2>
                        </div>
                    </div>
                </div>
            </ng-template>
            <div class="search-box">
                <p class="search center">Search another city</p>
                <p *ngIf="geoError.hasOwnProperty('error')" class="errors">{{ geoError}}</p>
                <form (submit)="searchWeather(newCity)" id="form">
                    <!-- <label for="city" type="hidden">City Name </label> -->
                    <input type="text" name="city" [(ngModel)]="newCity" id="name" placeholder="Enter City Name"/>
                    <button type="submit" id="btn"><i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
        <div class="f-deg">
            <div class="f-rotate">
                <button *ngIf="!newSearchRes" (click)="showTemp = 'currentFTemp'" class="rotated-text f">°F</button>
                <button *ngIf="newSearchRes" (click)=switchFTemp() class="rotated-text f">°F</button>
            </div>
        </div> 
    </div>
    <div id="info">
        <p>*Powered by <a href="https://developers.google.com/maps/documentation/geolocation/intro" target="_blank">Google Geolocation API</a> and <a href="https://openweathermap.org/api" target="_blank">OpenWeather API</a></p>
    </div>
</div>
<router-outlet></router-outlet>
