<div class="container">
    <div class="weather-header">
        <a href='/' class="home">weather rn</a>
    </div>
    <div class="wrapper">
        <div class="c-deg">
            <div class="c-rotate">
                <button id="currentCTemp" (click)=convertToCelsius() class="rotated-text c">°C</button>
            </div>
        </div>
        <div class="main">
            <div class="weather-box">
                <div class="weather-box-contents">
                    <div class="loading" *ngIf="!weatherData">
                        <p>one moment...</p>
                    </div>  
                    <p class="title">{{weatherData.name}}</p>
                    <!-- <p class="temp">{{type === 'c' ? convertToCelsius(weatherData.main.temp) : roundTemp(weatherData.main.temp)}}<span class="degree">{{type === 'c' ? '°C' : '°F'}}</span></p> -->
                    <p class="temp" *ngIf="cTemp">{{cTemp}}<span class="degree" *ngIf="cTemp">°C</span></p>
                    <p class="temp" *ngIf="!cTemp">{{fTemp}}<span *ngIf="weatherData" class="degree">°F</span></p>
                    <p class="description">{{weatherData.weather[0].description}}</p>
                    <h2><img src="http://openweathermap.org/img/wn/{{weatherData.weather[0].icon}}@2x.png"></h2>
                </div>
            </div>
            <div class="search-box">
                <p class="search">Search another city</p>
                <p *ngIf="geoError.hasOwnProperty('error')" class="errors">{{ geoError}}</p>
                <form (submit)="searchWeather(newCity)" id="form">
                    <input type="text" name="city" [(ngModel)]="newCity" id="name" placeholder="Enter City Name"/>
                    <button type="submit" id="btn"><i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
        <div class="f-deg">
            <div class="f-rotate">
                <button (click)="cTemp = null" class="rotated-text f">°F</button>
            </div>
        </div> 
    </div>
    <div id="info">
        <p>*Powered by <a href="https://developers.google.com/maps/documentation/geolocation/intro" target="_blank">Google Geolocation API</a> and <a href="https://openweathermap.org/api" target="_blank">OpenWeather API</a></p>
    </div>
</div>
<router-outlet></router-outlet>
